<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="allfile"
			xsi:type="File"  
			fileName="c:\S2I\OSS\logs\all-${shortdate}.log"
            layout="${longdate} | ${uppercase:${level:padding=-5}} | ${logger} | ${message} ${exception:format=tostring}" />
    <target name="console" 
			xsi:type="Console" 
			layout="${longdate} | ${uppercase:${level:padding=-5}} | ${logger} | ${message} ${exception:format=tostring}"  />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />  
  </rules>
</nlog>